.site-header__logo {
	width: 100%;
	min-width: rem(226px);
	text-align: center;
	margin-top: rem(8px);
	margin-bottom: rem(8px);

	@include media($M) {
		img {
			width: rem(150px);
		}
	}

	@include media($XS) {
		text-align: left;
	}
}

.site-header__button {
	width: 100%;
	text-align: right;
	margin-top: rem(8px);
	@include media($M) {
		margin-top: 0;
	}
}

.site-header__overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	height: 100%;
	width: 100%;
	background: linear-gradient(
		0deg, rgba(0,0,0,0) 0%, 
		rgba(0,0,0,0.69) 100% 
	);
}

.site-header__image {
	padding-top: rem(32px);
	min-height: rem(719px);
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 2;
	clip-path: polygon(
		100% 0, 
		100% 85%, 
		50% 100%, 
		0% 85%, 
		0% 0%
	);

	@include media($L) {
		min-height: rem(546px);
	}

	@include media($M) {
		min-height: rem(386px);

		clip-path: polygon(
			100% 0, 
			100% 92%, 
			50% 100%, 
			0% 92%, 
			0% 0%
		);
	}

	@include media($XS) {
		min-height: rem(476px);

	}
}

.site-header__solid {
	min-height: rem(170px);
	background: $secondary;
	position: relative;
	z-index: 2;
	clip-path: polygon(
		100% 0, 
		100% 100px, 
		50% 100%, 
		0% 100px, 
		0% 0%
	);

	@include media($M) {
		clip-path: polygon(
			100% 0, 
			100% 90px, 
			50% 100%, 
			0% 90px, 
			0% 0%
		);
		min-height: rem(140px);
	}

	@include media($XS) {
		clip-path: polygon(
			100% 0, 
			100% 110px, 
			50% 100%, 
			0% 110px, 
			0% 0%
		);
		min-height: rem(130px);
	}
}

.site-header__top {
	@extend %transition;
	position: fixed;
	width: 100%;
	top: rem(0px);
	padding: rem(10px) 0;
	z-index: 99;
	background: $secondary;

	@include media($XS) {
		top: rem(16px);
	}

	.social-icons {
		margin-top: rem(8px);
	}

	&.top--small {
		top: 0;
		background: $secondary;
		padding: rem(10px) 0;

		.site-header__logo img {
			/*padding: rem(8px);
			position: absolute;
			left: 50%;
			top: rem(-10px);
			transform: translateX(-50%);
			background: $secondary;
			max-width: rem(130px);

			clip-path: polygon(
				100% 0, 
				100% 90%, 
				50% 100%, 
				0% 90%, 
				0% 0%
			);*/

			@include media($M) {
				left: 0;
				transform: none;
			}
		}

		.social-icons {
			margin-top: rem(8px);
		}
	}
}

.header-join {
	@extend .menu-button;
	position: static;
	margin-right: rem(14px);
	@include media($L) {
		display: none;
	}
}