.intro-section-no-bg {
	margin-bottom: rem(50px);

	h1 {
		color: $secondary;	
		font-family: $primary-font;
		font-size: rem(40px);
		line-height: rem(53px);
		text-align: center;
		margin: rem(50px) 0 rem(50px) 0;
		position: relative;

		&:after {
			content: '';
			display: block;
			width: 75px;
			height: 3px;
			background-color: $primary;
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin-left: -38px;
		}
	}

	p {
		color: rgba(34,31,32,0.95);	
		font-size: rem(24px);
		font-weight: 300;
		line-height: rem(32px);
		text-align: center;
		margin-bottom: rem(25px);

		&:last-of-type {
			margin-bottom: 0px;
		}
	}
}

.h-f-offer-description {

	p, h2 {
		text-align: center;
	}

	p {
		margin-bottom: rem(25px);

		&:last-of-type {
			margin-bottom: rem(37px);
		}
	}
}

.h-f-offer-container {
	background-color: $precinct-partners;

	.offer-container {
		position: relative;

		&:nth-of-type(even) {

			.photo {
				left: 0px;
			}

			.description {
				margin-left: 50%;

				@include media($M) {
					margin-left: 0px;
				}
			}
		}

		.photo {
			height: 480px;
			width: 50%;
			position: absolute;
			top: 0px;
			left: 50%;
			background-size: cover;
			background-position: center;

			@include media($M) {
				position: relative;
				width: 100%;
				left: 0px;
			}

			@include media($S) {
				height: 380px;
			}

			@include media($XS) {
				height: 280px;
			}
		}

		.description {
			width: 50%;
			display: inline-block;
			vertical-align: top;
			padding: rem(90px) rem(55px) 0 rem(55px);
			min-height: 480px;
			box-sizing: border-box;

			@include media($L) {
				padding: rem(55px) rem(55px) 0 rem(55px);
			}

			@include media($M) {
				width: 100%;
				min-height: auto;
				padding: rem(55px) 0;
			}

			h3 {
				color: $secondary;
				font-family: $secondary-font;
				font-size: rem(30px);
				font-weight: 500;
				line-height: rem(49px);
				position: relative;
				margin: 0 0 rem(40px) 0;

				&:after {
					content: '';
					display: block;
					width: 50px;
					height: 3px;
					background-color: $primary;
					position: absolute;
					bottom: -10px;
					left: 0px;
				}	
			}

			p {
				color: $text-blue;
				font-size: rem(15px);
				font-weight: 300;
				line-height: rem(22px);
				margin-bottom: rem(30px);
			}

			.offer-button {
				background-color: $primary;
				color: $white;
				font-size: rem(10px);
				font-weight: bold;
				line-height: rem(13px);
				text-transform: uppercase;
				padding: 0 rem(16px);
				height: 23px;
				line-height: 23px;
				border-radius: 12px;
				display: inline-block;
				transition: 0.3s;
				box-sizing: border-box;

				&:hover {
					text-decoration: none;
					border-bottom: 0px;
					background-color: darken($primary, 10%);
				}
			}
		}
	}
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	margin-top: rem(60px);
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.h-f-slogan {
	margin-top: rem(60px);
	margin-bottom: rem(40px);
	img {
		width: 223px;
		height: auto;
		display: block;
		margin: 0 auto rem(50px) auto;
	}

	p {
		font-size: rem(24px);
		font-weight: 500;
		line-height: rem(25px);
		text-align: center;
		color: $secondary;
		text-align: center;

		a {
			color: $primary;
			border-bottom: 2px solid $primary;
			transition: 0.3s;

			&:hover {
				text-decoration: none;
				border-color: $white;
			}
		}
	}
}