.home .page-content {
	padding: 0;
}
.home-banner {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	z-index: 999;
	transform: translate(-50%, -50%);

	h1 {
		max-width: rem(670px);

		@include media($L) {
			max-width: 100%;
			font-size: rem(36px);
			line-height: rem(42px);
		}

		@include media($M) {
			font-size: rem(27px);
			line-height: rem(34px);
		}
	}

	.button {
		margin-top: rem(50px);
		color: $white;
		border-color: $white;

		&:hover {
			border-color: $primary;
			background: $primary;
		}

		@include media($M) {
			margin-top: rem(16px);
			color: $primary;
			padding: rem(14px) rem(31px);
		}
	}

	@include media($XS) {
		width: 90%;
	}
}

.intro-home {
	@extend .intro-section;
	padding-bottom: rem(65px);
	//padding: rem(42px) 0;
	background-color: $secondary;
	background: linear-gradient(to right, $primary 50%, $secondary 50%);
	//background-image: none;

	@include media($L) {
		padding-top: rem(135px);
		padding-bottom: rem(35px);
		background-repeat: repeat-y;
	}

	@include media($XS) {
		background-repeat: repeat-x;
		background-size: 150%;
		padding-top: rem(65px);

		.container {
			padding-left: rem(24px);
			padding-right: rem(24px);
		}
	}
}

.left-intro {
	margin-top: rem(56px);
	text-align: right;
	color: $white;
	padding-right: rem(64px);

	@include media($L) {
		padding-right: rem(16px);
	}

	@include media($XS) {
		text-align: center;
		padding-right: 0;
		margin-top: 0;
		margin-left: rem(-25px);
		margin-right: rem(-23px);
		padding: rem(24px);
		padding-top:rem(68px);
		background-color: $primary;
	}

	p, h2, {
		color: $white;
	}

	h2 {
		font-size: rem(44px);
		font-weight: 700;
		margin-bottom: 0;

		@include media($L) {
			font-size: rem(26px);
			line-height: rem(29px);
		}

		@include media($M) {
			font-size: rem(20px);
		}
	}

	p {
		font-size: rem(16px);
		font-weight: 300;
		margin: rem(40px) 0;
		line-height: rem(27px);
		min-height: rem(110px);

		@include media($M) {
			font-size: rem(14px);
			line-height: rem(24px);
		}
	}

	.button {
		font-size: rem(16px);
		padding: rem(11px) rem(20px);
		text-align: center;
		margin-left: rem(10px);
		border-color: $white;
		color: $white;

		&:hover {
			background: $white;
			color: $primary;
		}

		@include media($L) {
			width: rem(100px);
			margin-left: rem(10px);
			font-size: rem(14px);
		}

		@include media($M) {
			width: rem(90px);

		}

		@include media($S) {
			margin-bottom: rem(16px);
			width: 100%;
		}

		@include media($XS) {
			margin-left: 0;
		}
	}
}

.right-intro {
	margin-top: rem(56px);
	text-align: left;
	padding-left: rem(64px);

	@include media($L) {
		padding-left: rem(16px);
	}

	@include media($XS) {
		text-align: center;
		padding-left: 0;
		margin-top: 0;
		padding-top: rem(24px);
	}

	h2 {
		font-size: rem(44px);
		font-weight: 700;
		color: $white;

		@include media($L) {
			font-size: rem(26px);
			line-height: rem(29px);
		}

		@include media($M) {
			font-size: rem(20px);
		}
	}

	p {
		color: $white;
		font-size: rem(16px);
		font-weight: 300;
		line-height: rem(27px);
		margin: rem(40px) 0;
		min-height: rem(110px);

		@include media($M) {
			font-size: rem(14px);
			line-height: rem(24px);
		}
	}

	.right-buttons {
		margin-top: rem(32px);
		margin-right: rem(-116px);
	}

	.button {
		font-size: rem(16px);
		padding: rem(11px) rem(20px);
		text-align: center;
		//width: rem(148px);
		margin-right: rem(10px);
		border-color: $white;
		color: $white;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background: $white;
			color: $secondary;
		}

		@include media($L) {
			width: rem(100px);
			margin-right: rem(10px);
			font-size: rem(14px);
		}

		@include media($M) {
			width: rem(90px);
			
		}

		@include media($S) {
			margin-bottom: rem(16px);
			width: 100%;
		}
	}
	
}

.offer-headline {
	text-align: center;
	font-size: rem(44px);
	color: $secondary;

	&:after {
		@include headingBorder;
	}
}

.offer-text {
	text-align: center;
    line-height: rem(25px);
    margin-bottom: rem(40px);
	max-width: rem(800px);
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
	font-size: rem(15px);
}

.offer-box {
	@extend %transition;
	background: rgba($black ,0.4);
	border: 2px solid $white;
	height: rem(200px);
	margin-bottom: rem(20px);
	position: relative;

	&:hover {
		background: $black;
		border-color: $primary;
	}

	@include media($L) {
		height: rem(150px);
	}

	@include media($M) {
		height: rem(102px);
	}
}

.offer-col:nth-of-type(2) .offer-box {
	background: #e25918;
}
.offer-col:nth-of-type(3) .offer-box {
	background: #714772;
}
.offer-col:nth-of-type(4) .offer-box {
	background: #bd3148;
}
.offer-col:nth-of-type(5) .offer-box {
	background: #406f6c;
}
.offer-col:nth-of-type(6) .offer-box {
	background: #00243c;
}
.offer-col:nth-of-type(7) .offer-box {
	background: #105786;
}

.offer-box__title {
	@extend %box-title;
	color: $white;
	font-family: $secondary-font;
	font-size: rem(28px);
	font-weight: 700;
	line-height: rem(34px);
	padding: 0 rem(24px);

	span {
		color: $white;
		font-size:rem(20px);
		font-weight: normal;
	}

	@include media($L) {
		font-size: rem(24px);
	}

	@include media($M) {
		font-size: rem(18px);
		line-height: rem(20px);
	}
}

.offer-box__link {
	@extend %box-link;
}

.promo-row {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: rem(440px);

	@include media($L) {
		height: auto;
		display: block;
	}

	.offer-col {
		width: 25%;
		flex: 1 1 auto;
		padding: 0 rem(12.5px);

		@include media($L) {
			width: 33.33333%;
			float: left;
		}

		@include media($M) {
			width: 50%;
		}

		@include media($M) {
			width: 100%;
			float: none;
		}
	}

	.offer-col--featured {
		flex: 2 0 rem(338px + 25px);
		width: rem(338px + 25px);

		@include media($L) {
			width: 100%;
		}
	}
}

.offer--featured {
	width: rem(338px);
	height: rem(420px);
	border: none;
	background-color: $white;
	border: 3px solid $secondary;
	color: $secondary;

	@include media($L) {
		width: 100%;
		height: auto;
		background: transparent;
		text-align: center;
	}

	@include media($M) {
		padding: 0;
	}

	.featured-inner {
		height: 100%;
		@extend %transition;
		padding: rem(60px) rem(40px);
		background: $white;
		border: 3px solid transparent;
		color: $secondary;

		@include media($L) {
			background: transparent;
			padding: 0;
		}
	}

	.offer-box__title,
	.offer-box__content {
		position: static;
		transform: none;
		text-align: left;
		padding: 0;
	}

	.offer-box__title {
		color: $primary;
		font-size: rem(44px);
		line-height: rem(45px);

		@include media($L) {
			text-align: center;
			font-size: rem(36px);
			line-height: rem(38px);
			br {
				display: none;
			}
		}

		@include media($M) {
			font-size: rem(29px);
			line-height: rem(35px);
		}
	}

	.offer-box__content {
		margin-top: rem(12px);
		font-size: rem(33px);
		line-height: rem(39px);
		font-weight: 300;
		color: $secondary;

		span {
			color: $primary;
		}

		@include media($L) {
			text-align: center;
			font-size: rem(28px);
			line-height: rem(31px);
			br {
				display: none;
			}
		}

		@include media($M) {
			font-size: rem(22px);
			line-height: rem(24px);
		}
	}

	&:hover {
		border: 3px solid $secondary;
	}
}

.home-promo-boxes {
	padding: rem(65px) 0 rem(52px);
	background-color: $white;

	@include media($M) {
		padding-bottom: rem(16px);
	}
}


.home-about-section {
	background-size: cover;
	background-repeat: no-repeat;
	padding: rem(70px) 0;
	text-align: center;

	@include media($M) {
		padding: rem(30px) 0;
	}

	p {
		color: $text-light;
	}

	h2 {
		font-size: rem(44px);

		@include media($M) {
			font-size: rem(20px);
			margin-bottom: 0;
		}
	}

	.about-half {
		text-align: left;
		display: flex;

		@include media($L) {
			display: block;
			text-align: center;
		}

		@include media($XS) {
			margin-bottom: rem(36px);
		}
	}

	.about-intro {
		max-width: rem(980px);
		margin: rem(24px) auto rem(48px);

		@include media($L) {
			margin-bottom: rem(32px);
		}

		@include media($M) {
			margin-top: rem(16px);
		}
	}

	.about-half__image {
		padding-right: rem(38px);

		@include media($L) {
			height: rem(158px);
			padding-bottom: rem(24px);
			padding-right: 0;
		}

		.swim {
			width: rem(168px);
		}
	}

	.about-half__text {
		padding-right: rem(36px);

		@include media($L) {
			padding: 0 rem(16px);
		}
	}

}

.home-invitation-section {
	padding: rem(36px) 0;
	background: url( '../img/bgs/bg-join-small.jpg' );
	background-size: cover;

	.invitation-row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media($M) {
			padding-left: rem(24px);
			padding-right: rem(24px);
		}

		@include media($XS) {
			display: block;
			text-align: center;
		}
	}
}

.invitation__logo {
	
	img {
		max-width: rem(222px);

		@include media($L) {
			max-width: rem(182px);
		}

		@include media(800px) {
			max-width: rem(146px);
		}

		@include media($M) {
			max-width: rem(118px);
		}

		@include media($XS) {
			max-width: 80%;
		}
	
	}
}

.inivitation__text {

	p {
		color: $primary;
		font-size: rem(26px);

		@include media($L) {
			font-size: rem(20px);
			margin-bottom: 0;
		}

		@include media($M) {
			font-size: rem(16px);
		}

		@include media($XS) {
			margin: rem(16px) 0;
		}
	}

	h2 {
		font-size: rem(35px);
		color: $white;
		line-height: rem(42px);

		@include media($L) {
			font-size: rem(26px);
		}

		@include media(800px) {
			font-size: rem(18px);
			line-height: rem(24px);
		}
	}
}

.invitation__cta {

	.button--join {
		font-size: rem(18px);
		padding: rem(16px) rem(31px);

		@include media(800px) {
			font-size: rem(16px);
			padding: rem(11px) rem(15px);

		}

		@include media($XS) {
			margin-top: rem(24px);
			color: $primary;
		}
	}
}

.home-blog-section {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: rem(70px) 0;

	
	@include media($M) {
		.col-sm-6:nth-child(3) {
			display: none;
		}	
	}

	@include media($XS) {
		.col-sm-6:nth-child(2) {
			display: none;
		}	
	}
	

	@include media($M) {
		.container {
			padding-left: rem(24px);
			padding-right: rem(24px);
		}
		
	}

	@include media($XS) {
		padding: rem(32px) 0;
	}
}

.home-instagram-section {
	text-align: center;
	padding: rem(60px) 0;
	
	h2 {
		color: $secondary;
		font-size: rem(44px);
		&:after {
			@include headingBorder;
		}
	}

	p {
		color: $secondary;
		font-weight: 400;
	}

}

.insta-feed-wrap {
	max-width: rem(970px);
	padding: rem(30px);
	background: $white;
	margin: rem(24px) auto 0;
}