@font-face {
  font-family: 'Depressionist';
  src: url('../fonts/Depressionist_3_Revisited_2010.ttf');
  src: url('../fonts/Depressionist_3_Revisited_2010.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}